<!DOCTYPE html>
<html>
  <head>
    <title>Navbar example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
      <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon-16.ico"/>
    </head>
  <body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Logo -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">IntegrationLogo</a>
            </div>

             Menu Items
            <div class="collapse navbar-collapse" id="mainNavBar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/work">Work</a>
                    </li>
                     <li>
                        <a href="/time">Time</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
  </body>
</html>

